/* Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding. */
* {
  margin: 0;
  padding: 0;
}

/* Add padding to lists for list items markers (after removing all padding above). */
ol,
ul {
  padding-inline-start: 2.25em;
}

html {
  /* Add accessible line-height. */
  line-height: 1.5;
  /* Improve text rendering. */
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults. */
canvas,
iframe,
img,
object,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls. */
button,
input,
select,
textarea {
  font: inherit;
}

/* Avoid text overflows. */
blockquote,
dd,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  overflow-wrap: break-word;
}

/* Improve line wrapping. */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
